<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/GitHub/BigBrotherAutomation/bigbrotherautomation/src/test/java/mwmTests/PING/lookUpTest.java">
        <classes>
            <class name="mwmTests.PING.lookUpTest">
                <methods>
                    <include name="simpleVendTestLookUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>