<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/GitHub/RestAssured/src/test">
        <classes>
            <class name="ussdGTBankTests.AirtimeOthersOptionTwo.ussdAirtimeOthersTest">
                <methods>
                    <include name="startSession"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdAirtimeSelf.ussdTestAirtimeSelfTest">
                <methods>
                    <include name="startSession"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdCardlessTests.ussdCardless">
                <methods>
                    <include name="selectCardlessTest"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdCreatePin.createPinTestActivateDebitCardTest">
                <methods>
                    <include name="createPinTestActivateDebitCardTest"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdCreatePin.createPinTestActivateNOCardTest">
                <methods>
                    <include name="createPinTestActivateDebitCardTest"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdDataOptionThree.selectDataPurchaseForSelfTest">
                <methods>
                    <include name="selectDataPurchaseForSelfTest"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdTRSFGTBank">
                <methods>
                    <include name="ussdTrsfGTBankTest"/>
                </methods>
            </class>
            <class name="ussdGTBankTests.ussdTrsfOthers.ussdTrsfOthers">
                <methods>
                    <include name="ussdTrsfOthersTests"/>
                </methods>
            </class>
            <class name="inputTextTests.askForInputTest">
                <methods>
                    <include name="askForInputTest"/>
                </methods>
            </class>
            <class name="inputTextTests.inputRedirectTest">
                <methods>
                    <include name="askForInputRedirectTest"/>
                </methods>
            </class>
            <class name="inputTextTests.uddsInputSensitiveTest">
                <methods>
                    <include name="askForInputTest"/>
                </methods>
            </class>
            <class name="inputTextTests.ussdInputTextTest">
                <methods>
                    <include name="ussdInputTextTest"/>
                </methods>
            </class>
            <class name="isEmptyTests.isEmptySimpleNullTest">
                <methods>
                    <include name="ussdIsEmptySimpleNullTest"/>
                </methods>
            </class>
            <class name="isNullTests.isNotNullTest">
                <methods>
                    <include name="IsNull_SimpleTest"/>
                </methods>
            </class>
            <class name="isNullTests.isNullPositiveTest">
                <methods>
                    <include name="IsNull_SimpleTest"/>
                </methods>
            </class>
            <class name="ussdMenuTests.simpleMenuTest">
                <methods>
                    <include name="ussdSimpleMenu"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>